# Frontend
VITE_API_HOST=http://localhost:3000

# Backend
BACKEND_PORT=3000
DB_TYPE=postgres
DB_HOST=vd-db
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_NAME=vd-database
JWT_SECRET=some_jwt_secret
JWT_EXPIRATION=5h